In [2]:
import json
import pandas as pd
import requests
from matplotlib import pyplot as plt 
from config import api_key

In [3]:
data = pd.read_csv('InspectionCombined')

In [4]:
data = data.dropna()
data

,Name,Score,Address,City,Zip,Rating,Review Count,Yelp Name,price
0,10 Barrel Brewing Company,95.500000,1411 NW Flanders St,Portland,97209.0,4.0,890.0,10 Barrel Brewing Portland,$$
1,108 Bar N Grill,98.750000,10845 NE Halsey St,Portland,97220.0,4.0,34.0,108 Bar N Grill,$
2,13 Virtues,91.000000,6410 SE Milwaukie Ave,Portland,97202.0,3.5,100.0,13 Virtues Brewing,$$
3,15th Avenue Hophouse,98.500000,1517 NE Brazee St,Portland,97212.0,3.5,227.0,Hawthorne Hophouse,$$
4,1st United Methodist,100.000000,1838 SW Jefferson St,Portland,97201.0,5.0,1.0,Tasty n Alder,$$
...,...,...,...,...,...,...,...,...,...
2741,Zenbu,93.666667,8609 SE 17th Ave,Portland,97202.0,4.5,62.0,Zenbu Lounge,$$
2742,Zero Degrees,93.250000,8220 SE Harrison St STE 115,Portland,97216.0,3.0,319.0,Zero Degrees,$$
2743,Zien Hong Restaurant,92.333333,5314 NE Sandy Blvd,Portland,97213.0,4.0,340.0,Zien Hong,$$
2744,Zilla Sake,97.000000,1806 NE Alberta St,Portland,97211.0,3.5,257.0,Zilla Sake,$$
2745,Zoiglhaus Brewing Company,86.666667,5716 SE 92nd Ave,Portland,97266.0,3.5,231.0,Zoiglhaus Brewing Company,$$

In [5]:
data.groupby('price').count()

       Name  Score  Address  City   Zip  Rating  Review Count  Yelp Name
price
$       855    855      855   855   855     855           855        855
$$     1153   1153     1153  1153  1153    1153          1153       1153
$$$      74     74       74    74    74      74            74         74
$$$$     13     13       13    13    13      13            13         13