In [1]:
import pandas as pd

In [3]:
inspections2020_df = pd.read_csv('2020_Inspections.csv')
inspections2020_df.columns

Index(['Type11', 'BillingType', 'Name', 'PhysicalAddress', 'PhysicalCity',
       'PhysicalPostalCode1', 'OwnersName', 'InspectionDate1', 'Type1',
       'TotHRPriority', 'InspectionOutcome'],
      dtype='object')

In [11]:
inspections2020_df.groupby('Name').mean()

,PhysicalPostalCode1,TotHRPriority
Name,,
10 Barrel Brewing Company,97209.0,95.500000
108 Bar N Grill,97220.0,98.750000
13 Virtues,97202.0,91.000000
15th Avenue Hophouse,97212.0,98.500000
1st United Methodist,97201.0,100.000000
...,...,...
Zilla Sake,97211.0,97.000000
Zoiglhaus Brewing Company,97266.0,86.666667
Zoo AfriCafe-Rhino Hut-Elephant Ears-Kalahari Kitc,97221.0,97.000000
Zoo Cascade Grill-Cascade to go - Banquet Kitchen,97221.0,98.500000
Zuppa,97209.0,97.500000

In [ ]:
25